$MULT: 3;

$grey-700: #4f515b;
$grey-500: #737685;
$grey-300: #acb0c5;
$grey-100: #dfe2ef;
$grey-50:  #f3f4f7;

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertical() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin icono-option() {
  background-color: $grey-100;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  margin: 0 4px;
  position: relative;
  width: 24px;

  img { 
    height: 16px;
    width: 16px;
    @include center; 
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}








.bar {
  height: 40px;
  width: 100%;
}

.header {
  background-color: $grey-700;
  color: #e06868;
  font: 20px "Roboto Slab";
  padding: 8px;
  position: relative;

  .header__title { @include center-vertical; }
}

.toolbar {
  position: relative;
  top: 2px;

  .toolbar__actions { 
    background-color: $grey-500;
    padding: 8px;
    width: 100%;
    z-index: 1;
    @include center-vertical; 
  }

  .actions__button {
    @include icono-option;
  }

  .toolbar__panels {

  }
}








.toolbox {
  position: absolute;
  right: -204px;
  top: 32px;
  width: 252px;
  transition: all .35s ease-in-out;

  &.expanded {
    right: 0;
  }

  .toolbox__actions {
    background-color: $grey-300;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline-block;
    padding: 8px;
  }

  .actions__button {
    @include icono-option;
    display: block;
    margin-bottom: 8px;

    &.currentMode { border: 1px solid $grey-700; }

    &:last-of-type { margin-bottom: 0; }
  }

  .toolbox__panel {
    background-color: $grey-300;
    border-bottom-left-radius: 4px;
    display: inline-block;
    height: 500px;
    position: absolute;
    width: 204px;
  }

  .panel {
    display: none;
    height: 100%;
    width: 100%;

    &.open { display: block; }
  }

  .panel__title {
    font: 14px "Roboto Slab";
    font-weight: bold;
    height: 44px;
    padding: 12px 0;
    text-align: center;
    width: 100%;
  }

  .panel__selection {
    background-color: $grey-700;
    border-radius: 4px;
    height: calc(100% - 60px);
    margin: 0 16px 16px 16px;
    padding: 16px;
  }

  .selection__option {
    @include icono-option;
    background-color: transparent;

    &.selected {
      border: 1px solid $grey-100;
    }
  }
}








.container {
  background: $grey-50;
  height: calc(100% - 80px);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.canvas {
  background-color: white;
  height: 480px;
  max-height: 100%;
  max-width: 100%;
  width: 672px;
  @include center;

  &.gridded .cells .cell {
    border: 1px dashed $grey-100;
  }

  canvas {
    position: relative;
    z-index: 0;

    &.hide { display: none; }
  }

  .cells {
    cursor: pointer;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .cell {
    display: inline-block;
    width: 48px;
    height: 48px;
  }

  .edges {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .edge {
    cursor: pointer;
    height: 6px * $MULT;
    position: absolute;
    width: 6px * $MULT;

    &.vertical {
      height: 8px * $MULT;
      width: 4px * $MULT;
    }

    &.horizontal {
      height: 4px * $MULT;
      width: 8px * $MULT;
    }

    &:hover {
      background-color: $grey-500;
      opacity: .75;
    }
  }
}