* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

.bar {
  height: 40px;
  width: 100%; }

.header {
  background-color: #4f515b;
  color: #e06868;
  font: 20px "Roboto Slab";
  padding: 8px;
  position: relative; }
  .header .header__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.toolbar {
  position: relative;
  top: 2px; }
  .toolbar .toolbar__actions {
    background-color: #737685;
    padding: 8px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .toolbar .actions__button {
    background-color: #dfe2ef;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: 0 4px;
    position: relative;
    width: 24px; }
    .toolbar .actions__button img {
      height: 16px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.toolbox {
  position: absolute;
  right: -204px;
  top: 32px;
  width: 252px;
  transition: all .35s ease-in-out; }
  .toolbox.expanded {
    right: 0; }
  .toolbox .toolbox__actions {
    background-color: #acb0c5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline-block;
    padding: 8px; }
  .toolbox .actions__button {
    background-color: #dfe2ef;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: 0 4px;
    position: relative;
    width: 24px;
    display: block;
    margin-bottom: 8px; }
    .toolbox .actions__button img {
      height: 16px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .toolbox .actions__button.currentMode {
      border: 1px solid #4f515b; }
    .toolbox .actions__button:last-of-type {
      margin-bottom: 0; }
  .toolbox .toolbox__panel {
    background-color: #acb0c5;
    border-bottom-left-radius: 4px;
    display: inline-block;
    height: 500px;
    position: absolute;
    width: 204px; }
  .toolbox .panel {
    display: none;
    height: 100%;
    width: 100%; }
    .toolbox .panel.open {
      display: block; }
  .toolbox .panel__title {
    font: 14px "Roboto Slab";
    font-weight: bold;
    height: 44px;
    padding: 12px 0;
    text-align: center;
    width: 100%; }
  .toolbox .panel__selection {
    background-color: #4f515b;
    border-radius: 4px;
    height: calc(100% - 60px);
    margin: 0 16px 16px 16px;
    padding: 16px; }
  .toolbox .selection__option {
    background-color: #dfe2ef;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: 0 4px;
    position: relative;
    width: 24px;
    background-color: transparent; }
    .toolbox .selection__option img {
      height: 16px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .toolbox .selection__option.selected {
      border: 1px solid #dfe2ef; }

.container {
  background: #f3f4f7;
  height: calc(100% - 80px);
  overflow: hidden;
  position: relative;
  width: 100%; }

.canvas {
  background-color: white;
  height: 480px;
  max-height: 100%;
  max-width: 100%;
  width: 672px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .canvas.gridded .cells .cell {
    border: 1px dashed #dfe2ef; }
  .canvas canvas {
    position: relative;
    z-index: 0; }
    .canvas canvas.hide {
      display: none; }
  .canvas .cells {
    cursor: pointer;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    z-index: 1; }
  .canvas .cell {
    width: 48px;
    height: 48px;
    display: inline-block; }

/*# sourceMappingURL=main.css.map */
